@font-face {
  font-family: Anjoman;
  src: url('./fonts/AnjomanFaNum-Regular.eot');
  src: url('./fonts/AnjomanFaNum-Regular.eot?#iefix') format('embedded-opentype'),
       url('./fonts/AnjomanFaNum-Regular.woff2') format('woff2'),
       url('./fonts/AnjomanFaNum-Regular.woff') format('woff'),
       url('./fonts/AnjomanFaNum-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Anjoman;
  src: url('./fonts/AnjomanFaNum-Bold.eot');
  src: url('./fonts/AnjomanFaNum-Bold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/AnjomanFaNum-Bold.woff2') format('woff2'),
       url('./fonts/AnjomanFaNum-Bold.woff') format('woff'),
       url('./fonts/AnjomanFaNum-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Anjoman;
  src: url('./fonts/AnjomanFaNum-SemiBold.eot');
  src: url('./fonts/AnjomanFaNum-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/AnjomanFaNum-SemiBold.woff2') format('woff2'),
       url('./fonts/AnjomanFaNum-SemiBold.woff') format('woff'),
       url('./fonts/AnjomanFaNum-SemiBold.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: Anjoman;
  src: url('./fonts/AnjomanFaNum-SemiBold.eot');
  src: url('./fonts/AnjomanFaNum-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('./fonts/AnjomanFaNum-SemiBold.woff2') format('woff2'),
       url('./fonts/AnjomanFaNum-SemiBold.woff') format('woff'),
       url('./fonts/AnjomanFaNum-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
html,body {
    font-family: Anjoman !important;
    direction: rtl;
    margin: 0;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
    font-size: 1.375em;
    font-weight: 700;
    line-height: 1.375em;
}

p {
  font-size: 0.9em;
  line-height: 2em
}

a {
  color: #e49c85;
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}
a:hover {
  color: #333;
}

.space-up {
  padding-top: 2.5em;
}
.banner {
  width: 100%;
}
.banner img {
  max-height: 70vh;
  width: 100%;
  object-fit: cover;
}
.blog-masonry {
  display: flex;
  flex-wrap: wrap;
}
iframe {
  width: 100%;
  min-height: 400px;
}
.content {
  padding: 1em;
}
.about-us img {
  width: 100%;
}
.content h3,.content h4,.content h2,.content h1 {
    margin: 1em 0
}
.content-container {
  position: relative;
  align-items: flex-start;
}
.content-image {
  display: flex;  
  position: sticky;
  top: 9em;
}
.content-video {
  display: flex;  
  width: 100%;
  height: 400px;
}
.Video {
  height: 400px;
  width: 100%;;
}
.content li {
    list-style: disc;
    list-style-position: inside;
    margin: 1em 0;
    padding: 1em;
    line-height: 2em;
}
.content section h2,.content section h3,.content section h4 {
    margin: 1em 0;
    background-color: #333;
    color: white;
    padding: 1em;
}
.space-2 {
  width: 100%;
  height: 20px;
}
.space-8 {
  width: 100%;
  height: 100px;
}
pre.language-javascript {
    background-color: #eee !important;
    direction: ltr !important;
}
@media only screen and (max-width: 768px) {
  .content-image {
    position: static;
    margin: 1em 0;
  }
}